body {
  margin:0;
  padding:0;
  color:#333;
  font-family:"Avenir Next", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font:1em;
  font-weight: 300;
  -webkit-font-smoothing: subpixel-antialiased;
}

#app {
  margin: 0;
  padding: 2em;
}

#treats {
  float:left;
  width: 40%;
}
#cart {
  float:left;
  width: 300px;
}

.cart-item {
  padding: 1em 0;
  margin-bottom: 1px solid #CCC;
}
.cart-item-name {
  clear:both;
  font-weight:500;

}
.cart-item-count, #cart-total-label {
  float:left;
}
.cart-item-subtotal, #cart-total-number {
  float:right;
}

#cart-total {
  font-weight: 700;
  clear:both;
}

#cart-actions {
  clear:both;
}
#cart-empty {
  float:left;
}
#cart-submit {
  float:right;
}

.treat {
  float:left;
  clear:both;
  margin-bottom:0.5em;
}

.treat-image {
    width: 200px;
    float:left;
    margin-right:1em;
}

.treat-info {
  float: left;
}
